{
    "token": "your-token-here",
    "prefix": "g!",
    "name": "Starlight Glimmer",
    "invite": "your-invite-link-here",
    "pixelzone_api_key": null,

    "preview_height": 240,
    "preview_width": 400,
    "max_templates_per_guild": 25,
    "max_template_name_length": 32,

    "logging_channel_id": 0,
    "debug": false,
    "channel_log_guild_renames": false,
    "channel_log_guild_joins": false,
    "channel_log_guild_kicks": false,

    "invert": false
}
