{
    "token": "your-token-here",
    "prefix": "g!",
    "name": "Starlight Glimmer",
    "invite": "your-invite-link-here"

    "preview_height": 240,
    "preview_width": 400,
    "max_templates_per_guild": 25,

    "logging_channel_id": 0,
    "debug": false
}
